* {
    box-sizing: border-box;
  }

  /* Styling the format for the whole page */

  body {
    margin: 10px;
    padding: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1;
    background-color: lightpink;
  }

  
  nav {
    position: fixed;
    text-justify: inter-word;
    top: 0%;
    left: 10%;
    width:80%;
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    box-shadow: 0px 5px 10px;
  }

  #navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    margin: auto;
  }


  .logo a {
    color: red;
    font-size: 30px;
    font-weight: 600;
    
  }
  .menu {
    display: flex;
  }

  .menu li {
    list-style-type: circle;
    margin: 30px 30%;
  
  }

  .menu li a {
    color: red;
    font-weight: 500;
    text-decoration: none;
  }

  section {
    height: 10vh;
    width: 40%;
    align-items: right;
  }

  #navBar h1 {
    width: flex;
    font-weight: 500;
  } 

  h1 {
    font-size: 60px ;
    color: red;
    -webkit-text-stroke: 1px darkmagenta
    
  }

  h2 {
    color: red;
    font-weight: 700px;
    -webkit-text-stroke: 1px darkmagenta
  }

  .page-section {
    position: center;
    margin: 5px;
    display: flex;
    background-color: violet;
    padding: 10px;

  }

  .column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
  }

  .heading {
    background-color: lightgoldenrodyellow;
    width: 50%;
    padding: 20px 40px;
    color: red;
  }

  .work1, .work2, .work3 , .work4 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }


  .work1 {
    background-image: url("/images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
 
  .work2 {
    background-image: url("/images/02-portfolio-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .work3 {
    background-image: url("/images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .work4 {
    background-image: url("/images/02-run-buddy.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    margin: 3%;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
  }

  footer {
    display: flex;

  }

  @media screen and (max-width:700px) {
    body {
      background-color: red;
      font-size: 12px;
      flex-direction: column;
    }
  }